

body {
  padding-top: 10%;
  background: #FFFACD;
  color: #696969;
  text-align: center;
}

#logo {
  max-width: 100%;
  height: auto;
}

h2 {
  margin: 2%;
}
#page2 {
  background: darksalmon;
  text-align: center;
}

#page2 h1, #page3 h1{
  text-transform: uppercase;
}

#page3 {
  background: #C8F2C2;
  text-align: center;
}

.top-story{
  border: 1px solid grey;
  margin: 0 12%;
}


.leviosa {
float: right;

}

.pen{
  position: relative;
  margin-left: -25%;
}


h1{
  padding: 5%;
}

button {
   border: solid 7px #41403E;
   align-self:center;
   background:transparent;
   padding:1rem 1rem;
   margin:1rem 1rem;
   transition:all .5s ease;
   color:#41403E;
   font-size:2rem;
   letter-spacing:1px;
   outline:none;
   box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

}

button:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

/*NAVAGATION BAR*/
