

body {
  padding-top: 10%;
  background: #FFFACD;
  color: #696969;
  text-align: center;
}

#logo {
  max-width: 100%;
  height: auto;
}

h2 {
  margin: 2%;
}
#page2 {
  background: #f2a68c;
  text-align: center;
  padding: 2%;
}




.about {
  margin:0 4%;


}

#page3 {
  background: white;
  text-align: center;
  padding-bottom: 5%;
}

p {
  line-height: 200%;
}

blockquote {
  font-size: 1.5em;
}

a:link {
    background-color: #FFFACD;
    color: black;
    text-transform: uppercase;
}

a:hover {
    background-color: #f2a68c;
}

.top-story{
  border: 1px solid #f7caba;
  margin: 2% 10%;
  background: #f7caba;
}


.leviosa {
float: right;

}

.pen{
  position: relative;
  margin-left: -20%;
}


h1{
  padding-top: 2%;
}

button {
   border: solid 7px #41403E;
   align-self:center;
   background:transparent;
   padding:1rem 1rem;
   margin:1rem 1rem;
   transition:all .5s ease;
   color:#41403E;
   font-size:2rem;
   letter-spacing:1px;
   outline:none;
   box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

}

button:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

/*NAVAGATION BAR*/
